html,head{
    margin:0;
}


.container{
    height: 100vh;
    background-image:url("contact.jpg");
    display:flex;
    flex-direction: column;
}

.child1{
    height: 200px;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.child2{
   
    margin-left: 10px;

}


.parent1{
    flex:0.8;
}

.parent2{
    flex:4;
    display:flex;
}


.parent3{
    flex:1;
}

.child3{
    background-size: 700px;
    margin-top: 50px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent4{
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child4{
    margin-bottom: 10px;
    width:200px;
    height: 20px;
    border-radius: 5px;
    border:none;
}

.child5{
    background-color: rgb(41, 177, 41);
    border-radius: 5px;
}