.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* a {
  text-decoration: none;
  color: rgb(49, 49, 49);
}
a:hover {
  color: rgb(245, 114, 7);
} */
a.child22 {
  text-decoration: none;
  color: rgb(12, 10, 10);
  font-weight: bold;
  /* transition: 0.3s; */
}
a.child22:hover {
  /* font-size: large; */
  color: black;
}

.child1 {
  font-size: xx-large;
  font-weight: bolder;
  font-family: cursive;
  margin-left: 50px;

  color: rgb(245, 245, 250);
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.c22 {
  font-weight: bold;
  cursor: pointer;
}
.child2 {
  /* background-color: rgba(73, 73, 107, 0.6); */
  margin-bottom: 10px;
  color: rgb(10, 12, 10);
  transition: 0.4s;
  font-weight: bold;
  font-size: large;
  height: 6vh;
  width: 12vw;
  border-radius: 2vh;
  cursor: pointer;
  text-decoration: none;
}
.child2:hover {
  /* font-size: large; */
  color: rgb(97, 96, 96);
  text-decoration: none;
}

.child3 {
  background-color: rgba(155, 127, 93, 0.6);
  color: rgb(216, 217, 218);
  font-size: 22px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.child4 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt5.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 350px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child5 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt2.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child6 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt13.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child7 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt4.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 350px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}
.child8 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt9.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 330px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}
.child9 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt6.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child10 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt7.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 390px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child11 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt3.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child12 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt8.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child13 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child14 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt10.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 330px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.child15 {
  background-color: rgba(152, 152, 180, 0.6);
  background-image: url("Tshirt11.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: none;
}

.parent1 {
  background: linear-gradient(to left, rgb(114, 62, 182), rgb(21, 137, 190));
  display: flex;
  height: 9vh;
}

.parent2 {
  /* margin-top: 10px; */
  background: rgb(249, 249, 250);
  border: 1px solid rgb(39, 195, 223);
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
}

.parent3 {
  background-color: rgba(247, 243, 243, 0.5);
  height: 20vh;
  background-image: url("shopping.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent4 {
  background-color: rgb(239, 240, 238);
  flex: 4;
  font-family: fantasy;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-image: url("usericon.png");
  background-position: left;
  background-size: 30px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 50px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 2s;
}

.btn:hover {
  background-color: rgb(243, 243, 247);
  /* text-decoration: underline; */
}

.btn2 {
  height: 5.5vh;
  width: 35vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7, 7, 7);
  /* border-radius: 0.5vh; */
  border: 1px solid rgb(0, 225, 255);
}

.beautify {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: medium;
  /* font-style: normal; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(10, 10, 10);
  cursor: pointer;
  transition: 1s;
  margin-top: 2vh;
}

.beautify:hover {
  /* font-size: larger; */
  text-decoration: none;
}
