html,
head,
body {
  margin: 0;
  background: linear-gradient(gray, tomato, GRAY);
}

.contain {
  height: 100vh;
  background-image: url("background2.png");
  object-fit: cover;
  display: flex;
}

.p1 {
  background-image: url("background2.png");
  object-fit: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.p2 {
  flex: 3;
}

.c1 {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.c2 {
  display: flex;
  width: 100%;
  height: 100%;
}

#id1 {
  flex: 0.8;
}

#id2 {
  flex: 3;
}

#id3 {
  flex: 0.8;
}

.c3 {
  background-image: url("background3.png");
  object-fit: contain;
  background-size: 680px;
  background-repeat: no-repeat;
  flex: 2;
  border-bottom-left-radius: 20px;
  border-start-start-radius: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.c4 {
  /* background: rgba(87, 87, 86, 0.6); */
  margin-top: 5vh;
  display: flex;
  height: 60vh;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-start-end-radius: 20px;
  border-end-start-radius: 20px;
}

.c5 {
  flex: 0.5;
}

.beautifyy {
  margin-top: 2vh;
  margin-bottom: 10px;
  border: none;
  height: 30px;
  width: 40%;
  border-radius: 10px;
  font-size: medium;
  font-family: cursive;
}

.btnn {
  background-color: rgba(25, 56, 148, 0.8);
  color: white;
  width: 25vw;
}

a {
  text-decoration: none;
}
