html,
body {
  margin: 0;
}

.sign {
  background: rgb(231, 230, 230);
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(68, 198, 238);
}
.c1 {
  margin-right: 0.3vh;
  display: flex;
  height: 66vh;
  width: 22vw;
  border-radius: 10px;
  background: linear-gradient(orange, violet);
  margin-top: 50px;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
}

.log {
  font-size: xx-large;
  color: rgb(247, 248, 247);
  margin: 5px;
}

.log-text {
  font-size: medium;
  color: rgba(255, 255, 255, 0.8);
  /* margin: 5px; */
}

.c2 {
  display: flex;
  width: 40vw;
  flex-direction: column;
  background: linear-gradient(rgb(201, 63, 155), rgb(51, 51, 245));
  height: 65vh;
  margin-top: 45px;
  border-radius: 6px;
  align-items: center;
  padding-top: 20px;
}

.pass {
  font-size: 3vh;
  height: 6vh;
  margin-top: 2vh;
  border-color: turquoise;
  border-radius: 1vh;
  width: 25vw;
  font-size: medium;
}

.policy {
  font-size: small;
  padding-left: 6vh;
  margin-top: 0.2vh;
  color: rgb(214, 200, 212);
}

.login {
  font-size: large;
  font-family: cursive;
  width: 17vw;
  background: rgb(251, 100, 27);
  border-radius: 1vh;
  color: bisque;
  border-style: none;
  height: 6vh;
  cursor: pointer;
  transition: 1s;
}

.login:hover {
  background: rgb(250, 145, 7);
}
.new1 {
  font-size: smaller;
  color: rgb(241, 235, 235);
  padding: 1vh;
}
a.new {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(242, 244, 247);
}
a.new:hover {
  font-size: medium;
  color: rgb(248, 163, 4);
  /* background: yellowgreen; */
}
